// Global Sass variables

// fonts
$font-header: 'Lato', sans-serif;
$font-text: 'Poppins', sans-serif;
$font-button:'Poppins', bold;
$font-size: 100%;
$font-size-rwd: calc(0.8em + 0.5vmax);

// colors
$blue: #325DFF;
$white: #FFFFFF;
$black: #000000;

