body {
    font-family: $font-text;
    //background-color: #FAFAFA;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-header;
}

h2 {
    font-size: 40px;
    font-weight: 300;
}

@media (min-width: 575px) {
    h2 {
        font-size: 50px;
        font-weight: 300;
    }
}

@media (max-width:575px){
    .minus-order{
    order: -1;
} 
}



p {
    font-size: 16px;
}

.no-padd {
    padding: 0;
}

.intro {
    padding: 70px 0;
}



.img-full {
    width: 100%;
    height: auto;
}

.bl-btn {
    background-color: $blue;
    padding: 25px 45px;
    border-radius: 36px;
    color: $white;
    display: inline-block;
   font-family: $font-button;
 
    &:hover {
        color: $white;
        text-decoration: none;
    }
}

.box-tot {
    align-content: space-between;
    display: flex;
    align-items: center;

    .box-text {
        padding: 20px 40px;

        h2{padding-bottom: 27px;}
    }

    @media (min-width: 575px) {
        .box-text {
            padding: 90px 86px;
        }
    }


}

.background-dark{
    background-color: #FAFAFA;
}
